
<form class="budget-form mt-5" (ngSubmit)="onSubmit()">
    <!-- Date Input -->
    <div class="mb-3">
      <label for="username"  class="form-label">UserName</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" required />
    </div>

    <div class="mb-3">
        <label for="password"  class="form-label">Password</label>
        <input type="text" class="form-control" id="password" name="password" [(ngModel)]="password" required />
      </div>

  
    <!-- Submit Button -->
    <div class="d-grid mb-3" >
      <button type="submit" class="btn btn-success w-100 mt-3">Login</button>
    </div>
  </form>