<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Transactions</h2>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <app-button text="Add" color="green" (btnClick)="onAdd()"></app-button>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateTime</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Category</th>
                <th></th>
               
            </tr>
        </thead>
        <tbody>
            @for (t of transactions; track t.id) 
            {
                <tr>
                    <td>{{ t.id }}</td>
                    <td>{{ t.dateTime }}</td>
                    <td>{{ t.amount }}</td>
                    <td>{{ t.transactionType === 1 ? 'Income': t.transactionType === 2 ? 'Expense' : 'Unknown'}}</td>
                    <td>{{ t.category?.categoryName }}</td>
                   
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <app-button text="Edit" color="blue" (btnClick)="onEdit(t.id,t)"></app-button>

                            </div>
                            <div class="col-3">
                                <app-button text="Delete" color="red" (btnClick)="onDelete(t.id)"></app-button>
                            </div>

                            <div class="col-3">
                                <app-button text="Details" color="brown" (btnClick)="onDetail(t.id)"></app-button>
                            </div>

                        </div>
                    </td>
                </tr>
                
            }
          
            
           

        </tbody>

    </table>
    </div>