<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Budgets</h2>
        </div>
        <div class="col-6">
            <app-button text="Add" color="green" (btnClick)="onAdd()"></app-button>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Year</th>
                <th>Month</th>
                <th></th>
               
            </tr>
        </thead>
        <tbody>
            @for (budget of budgets; track budget.id) 
            {
                <tr>
                    <td>{{ budget.id }}</td>
                    <td>{{ budget.budgetMonth }}</td>
                    <td>{{ budget.budgetAmount }}</td>
                    <td>{{ budget.year }}</td>
                    <td>{{ budget.month }}</td>
                    <td>
                        <div class="row">
                            <div class="col-6">
                                <app-button text="Edit" color="blue" (btnClick)="onEdit(budget.id,budget)"></app-button>

                            </div>
                            <div class="col-6">
                                <app-button text="Delete" color="red" (btnClick)="onDelete(budget.id)"></app-button>
                            </div>

                        </div>
                    </td>
                </tr>
                
            }
          
            
           

        </tbody>

    </table>
    </div>