<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Budgets</h2>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                
                <th>Date</th>
                <th>Amount</th>
                <th>Year</th>
                <th>Month</th>
                <th></th>
               
            </tr>
        </thead>
        <tbody>
            @for (budget of budgets; track budget.Id) 
            {
                <tr>
                    <td>{{ budget.budgetMonth.toString() }}</td>
                    <td>{{ budget.budgetAmount }}</td>
                    
                </tr>
                
            }
          
            
           

        </tbody>

    </table>